.security-hero {
  padding: 50px 0 0 0;
}
.security-bg {
  border-radius: 20px;
  padding: 40px;
  width: 1279px;
  height: 648px;
  background-color: #1c1c1c;
  position: relative;
}
.security-thumb {
  border-radius: 20px 0 60px 20px;
  padding: 60px;
  width: 658px;
  max-height: 384px;
  background-color: #1a1a1a;
  position: absolute;
  z-index: 1;
}
.security-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  color: #fff;
}
.security-title-span {
  color: #caff33;
}
.security-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #b3b3b3;
}
.security-hero-img {
  position: absolute;
  top: 50%;
  right: 400px;
  transform: translate(50%, -50%);
}
